# Database Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=permisyn
DATABASE_URL=postgresql://user:password@db:5432/permisyn

# API Configuration
VITE_API_URL=http://localhost:5000

# Node Environment
NODE_ENV=development
